.menu {
    font-size: 13px !important;
    height: 54px;
    padding-left: 45px;
}
.line {
    font-size: 25px;
}
.img-logo {
    padding-right: 20px;
}
.nav-item {
    margin-top: 12px;
}
.nav-item a{
    padding: 0px;
    font-weight: 500;
}
.nav-item a:hover {
    border-bottom: 2px solid black;
}
.nav-item-btn {
    padding: 0px 20px 0px 20px;
}
.nav-item-btn a{
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.right-menu {
    padding-left: 125px;
}
.nav-item svg {
    position: relative;
    right: 0px;
    top: -2px;
}

.nav-item-sign {
    margin-top: 9px;
}
.nav-item-sign a{
    padding: 0px;
    font-weight: 500;
}
.nav-item-sign svg{
    margin-left: 5px;
    position: relative;
    right: 0px;
    top: -2px;
}
/* BODY */
.body-header {
    margin-top: 5px;
    background: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/accessibility-pro-9-laptop-studio_tbmnl?scl=1");
    background-size: cover;
    height: 840px;
    width: 1492px;
}
.title-hb {
    font-size: 90px;
    font-weight: 500;
    line-height: 1.1;
}
.description-hb p{
    font-size: 25px;
    font-weight:500;
}
.group-title {
    padding-top: 150px;
}
.hover-link {
    text-decoration: none;
    color: black;
}
.hover-link:hover {
    color: #424242;
}
.content-link-hb {
    transition-duration: 0.12s;
}
.content-link-hb:hover {
    padding-right: 3px;
}
.btn-link-hb {
    font-weight: 500;
    line-height: 2;
    font-size: 18px;
    display: inline-block;
    width: 200px;
}
.bh-item {
    height: 180px;
}
.bh-item1 {
    padding-top: 60px;
}
.btn-link-hb-item {
    padding-left: 5px;
    display: inline-block;
    width: 119px;
}

